html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}html{line-height:1}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}q,blockquote{quotes:none}q:before,q:after,blockquote:before,blockquote:after{content:"";content:none}a img{border:none}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block}@font-face{font-family:'Mission Gothic';src:url("../../fonts/mission_gothic_bold-webfont.eot");src:url("../../fonts/mission_gothic_bold-webfont.eot?#iefix") format("embedded-opentype"),url("../../fonts/mission_gothic_bold-webfont.woff") format("woff"),url("../../fonts/mission_gothic_bold-webfont.ttf") format("truetype"),url("../../fonts/mission_gothic_bold-webfont.svg#mission_gothicbold") format("svg");font-weight:bold;font-style:normal}@font-face{font-family:'Mission Gothic';src:url("../../fonts/mission_gothic_light-webfont.eot");src:url("../../fonts/mission_gothic_light-webfont.eot?#iefix") format("embedded-opentype"),url("../../fonts/mission_gothic_light-webfont.woff") format("woff"),url("../../fonts/mission_gothic_light-webfont.ttf") format("truetype"),url("../../fonts/mission_gothic_light-webfont.svg#mission_gothiclight") format("svg");font-weight:300;font-style:normal}@font-face{font-family:'Mission Gothic';src:url("../../fonts/mission_gothic_regular_italic-webfont.eot");src:url("../../fonts/mission_gothic_regular_italic-webfont.eot?#iefix") format("embedded-opentype"),url("../../fonts/mission_gothic_regular_italic-webfont.woff") format("woff"),url("../../fonts/mission_gothic_regular_italic-webfont.ttf") format("truetype"),url("../../fonts/mission_gothic_regular_italic-webfont.svg#mission_gothicregular_italic") format("svg");font-weight:normal;font-style:italic}@font-face{font-family:'Mission Gothic';src:url("../../fonts/mission_gothic_regular-webfont.eot");src:url("../../fonts/mission_gothic_regular-webfont.eot?#iefix") format("embedded-opentype"),url("../../fonts/mission_gothic_regular-webfont.woff") format("woff"),url("../../fonts/mission_gothic_regular-webfont.ttf") format("truetype"),url("../../fonts/mission_gothic_regular-webfont.svg#mission_gothicregular") format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'FontAwesome';src:url("../../fonts/fontawesome-webfont.eot?v=3.2.1");src:url("../../fonts/fontawesome-webfont.eot?#iefix&v=3.2.1") format("embedded-opentype"),url("../font/fontawesome-webfont.woff?v=3.2.1") format("woff"),url("../font/fontawesome-webfont.ttf?v=3.2.1") format("truetype"),url("../font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1") format("svg");font-weight:normal;font-style:normal}


html,body{height:100%}body,*{-webkit-font-smoothing:antialiased;padding:0;margin:0}

body{
	background: #ECF0F1;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	color:#91979d;
	padding:0 75px 0 0;
	font:16px/1.5 "Mission Gothic",sans-serif
}

.item{
	width:50%;
	float:left;
	box-sizing:border-box;
	display:inline;
	padding: 25px;
}

.imageLeft{
	width:30%;
	float:left;
	padding: 25px;
	height: 450px;
	padding-bottom: 0px;
}

.imageRight{
	width:40%;
	float:right;
	padding: 25px;
	height: 450px;
	bottom: 0px;
	padding-bottom: 0px;
}

.textRight{
	width:70%;
	padding-top: 65px;
}

.textLeft{
	width:50%;
	float:left;
	box-sizing:border-box;
	display: inline;
	padding: 25px;
}

.section{width: 100%;float:left;box-sizing:border-box; display:inline; padding: 250px; background-color: #FFFFFF;}

.backgroundImage{
	width: 100%;
 	height: 1050px; 
 	position: absolute; 
 	min-width: 100%;
}

@media screen and (max-width: 800px) {
	.backgroundImage {
    	height:  = 1650px;
    }
    .item{
        width: 100%;
    }
}

#background {
	height: auto;
	width: 100%;
	min-width: 100%;
}

#wrapper {
	
	min-width: 100%;
	min-height:100%;
}

#content{
	display: block;
	padding:0px;
	padding-top: 50px;
	padding-bottom:0px;
	min-height:100%;
	height:auto;
    bottom:auto;
	text-align:center;
	position:relative;
	max-width:960px;
	margin:0 auto;
}

#content ul li {
	display: inline-block;
}

#content #bottom_image {
	position: absolute;
	bottom: 0;
	right: 50px;
	height:285px;
}

#content #logo{
	font-size:48px;
	font-weight:bold
}

#content #logo a{
	color:#fff;
	text-decoration:none
}

#content #logo a span{
	color:#c0392b
}

#content ul{
	display: inline-block;
	padding:0 0px 0px 0px; 
	margin-top: 0px; 
	width: 100%; 
	height: 100%;
	max-width: 1000px;
	margin: auto;
	position: relative;
}


#content ul li span{display:block;color:white;font-size:24px;font-weight:bold; color:rgb(231, 76, 60)}

#content #subtitle {
	display:block;
	color:white;
	font-size:24px;
	font-weight:bold;
	padding-top: 50px;
	color:#2C3E50;
}

#content #subtitleClear {
	display:block;
	color:white;
	font-size:24px;
	font-weight:bold;
	padding-top: 50px;
	color:#ECF0F1;
}

#content #section2 {
	width: 100%;
	padding: 20px;
	padding-bottom: 0px;
	background-color: #FFFFFF;
}

#content #section2 li{
	font-size:16px;
	padding-right: 50px;
	display:block;
	color:#1F2021;
	text-align: left;
}

#content #section3 {
	width: 100%;
	padding: 20px;
	background-color: #2C3E50;
	padding-bottom: 0px;
	display: inline-block;
}

#content #section3 li{
	font-size:16px;
	padding-right: 50px;
	color:solid rgba(255,255,255,0.2);
	text-align: left;
}


#footer {
	width: 100%; 
	padding: 50px;
	height: 100px;
	background-color: #2C3E50;
	bottom:0;
	top:0;
	text-align:center;
	position:relative;
	margin:0 auto;
}

#section2 #contact{margin-bottom:60px;margin-top:10px;background:#c0392b;color:#fff;padding:7px 20px;line-height:30px;text-decoration:none;display:inline-block;border-radius:2px;border:1px solid #81261d;box-shadow:inset 0px 1px rgba(255,255,255,0.15),0px 1px 5px rgba(0,0,0,0.1)}


#content #tagline{font-size:36px;line-height:42px;font-weight:bold;margin:0 0 50px 0;}

#footer #download{margin-bottom:60px;margin-top:10px;background:#c0392b;color:#fff;padding:7px 20px;line-height:30px;text-decoration:none;display:inline-block;border-radius:2px;border:1px solid #81261d;box-shadow:inset 0px 1px rgba(255,255,255,0.15),0px 1px 5px rgba(0,0,0,0.1)}

#footer #copy{position:absolute;bottom:25px;left:50px;right:50px;border-top:1px solid rgba(255,255,255,0.2);padding:25px 0 0 0}

#footer #copy a{color:#fff;text-decoration:none;font-weight:bold}

#footer #copy a:hover{text-decoration:underline}

#footer #privacy{position:absolute;bottom:25px;float:right;border-top:1px solid rgba(255,255,255,0.2);padding:25px 0 0 0}

#footer #privacy a{color:#fff;text-decoration:none;font-weight:bold}

#footer #privacy a:hover{text-decoration:underline}



